table{
    width: 100%;
}

.mat-elevation-z8{
    //background-color: aquamarine;
    padding: 20px;
}
.filter-create{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 
}
.create-new-button{
   width: 170px;
   height: 40px;
}
