<form [formGroup]="employeeForm"> 
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="employeeForm.get('name')?.errors">
        <span>'You must enter a value'</span>
    </mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="employeeForm.get('lastName')?.errors">
        <span>'You must enter a value'</span>
    </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Job Position </mat-label>
      <input matInput formControlName="jobPosition" />
      <mat-error *ngIf="employeeForm.get('jobPosition')?.errors">
        <span>'You must enter a value'</span>
    </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Salary
      </mat-label>
      <input matInput formControlName="salary" >
      <mat-error *ngIf="employeeForm.get('salary')?.errors">
        <span>'You must enter a value'</span>
    </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary"  
    >Save</button>
</form>
